.webcam {
  position: relative;
  //   margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  //   width: 640px;
  width: 30%;
  //   height: 480px;
  border-radius: 10px;
}
.container {
  //   display: block;
  position: fixed;
  bottom: 100px;
  right: 100px;
  justify-content: flex-end;
  display: flex;
  // & canvas video {
  //   // border-radius: 50%;
  // }
}
